ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    border-radius: 100%;
    max-width: 200px;
    border: 1px solid #5bbe42;
}

body {
    background-color: rgb(34, 34, 124);
}

.foto-minha {
    text-align: center;
}